
@CHARSET "UTF-8";

div.visual-admin-group{
clear:both;
width:100%;
border:#a1a1a1 solid 1px;
}

div.visual-admin-button{
float:left;
padding:20px;
text-align:center;
}

div.visual-admin-clear{
clear:both;
}
